body
    background #e7f3ff

.tweets
    display flex
    flex-direction column
    align-items center
    justify-content space-around
    flex-basis calc(33.333% - 4rem)

.tweet
    display flex
    flex-grow 1
    flex-basis 0
    justify-content space-between
    align-content center
    padding 10px
    background white
    border #e7f3ff .5px solid
    min-height 150px
    min-width 800px
    max-width 800px

.buttons
    display flex
    flex-direction column



.imageUrl
    border-radius 15%
    width 56px
    height 56px

.name
    display inline-block
    margin 0
    padding 0 0 0 5px
    font-family "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif
    font-size 14px
    font-style italic

.text
    font-family "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif
    font-size 14px
    font-weight bold

.logo h1
    text-align center