body
    background-image url('../img/footer_lodyas.png')

.tweets
    display flex
    flex-direction column
    align-items center
    justify-content space-around
    flex-basis calc(33.333% - 4rem)

.tweet
    display flex
    flex-grow 1
    flex-basis 0
    justify-content space-between
    align-content center
    padding 10px
    background #b9b9b9
    border #27292b .5px solid
    min-height 150px
    min-width 800px
    max-width 800px


.buttons
    display flex
    flex-direction column
    min-width 70px
    text-align right

.button span.clickable
    margin 10px
    color #000000
    cursor pointer

.button span.clickable:hover
    transform scale(2,2)
    cursor pointer

.button span.clickable:active
    transform skewX(1deg)

.button
    flex 1

.count
    color #000000

.imageUrl
    border-radius 15%
    width 56px
    height 56px

.name
    display inline-block
    margin 0
    padding 0 0 0 5px
    font-family "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif
    font-size 14px
    font-style italic

.text
    font-family "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif
    font-size 14px
    font-weight bold

.logo h1
    text-align center

.logoLink
    text-decoration none
    text-shadow 2px 2px 5px #576266
    color #c9d3c9;

.compose
    display flex


.compose input
    min-width 800px
    margin 2px
    padding 12px 20px
    box-sizing border-box
    outline none
    transition 0.5s
    resize none
    border solid 5px #c9c9c9

.compose input:focus
    border solid 5px #969696